<div class="login-page bg-light">
    <div class="container ">
        <div class="row">
            <div class="col-lg-8 offset-lg-1 m-auto">
                <h3 class="mb-3 text-center">Admin Login</h3>
                <div class="bg-white shadow rounded">
                    <div class="row">
                        <div class="col-md-12 pe-0">
                            <div class="form-left h-100 py-5 px-5">
                                <form #signupForm = "ngForm" (ngSubmit)="onAdminLogInSubmit(signupForm.value)"  class="row g-4">
                                    <div class="col-12">
                                        <label>Username<span class="text-danger">*</span></label>
                                        <div class="input-group">
                                            <div class="input-group-text">
                                                <i class="fa-solid fa-user"></i>
                                            </div>
                                            <input formControlName="email" type="text" name="email" class="form-control" placeholder="Enter Email" ngModel/>
                                        </div>
                                    </div>

                                    <div class="col-12">
                                        <label>Password<span class="text-danger">*</span></label>
                                        <div class="input-group">
                                            <div class="input-group-text">
                                                <i class="fa-solid fa-lock"></i>
                                            </div>
                                            <input formControlName="password" type="text" name="password" class="form-control" placeholder="Enter Password" ngModel/>
                                        </div>
                                    </div>

                                    <div class="col-12">
                                        <button type="submit" class="btn btn-primary px-4 float-end mt-4">
                                            Admin login
                                        </button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>